<h1 id="curriculum-title"><%= @curriculum.name %> Course</h1>

<table>
  <tr>
    <th>Curriculum name</th>
    <td><%= @curriculum.name %></td>
  <tr>
  </tr>
    <th>Curriculum duration</th>
    <td><%= @curriculum.duration %> times</td>
  </tr>
</table>

<h2>Students enrolled to this curriculum</h2>
<ul id="enrolled-students">
  <% @curriculum.students.each do |enrolledStudent| %>
  <li><%= enrolledStudent.name %></li>
  <% end %>
</ul>

<p><%= link_to "Edit curriculum", edit_curriculum_path(@curriculum), class: "button" %></p>
<p><%= link_to "Enroll students to this class", curriculum_enrollments_path(@curriculum), class: "button button-primary" %></p>
<p><%= link_to "Delete curriculum", curriculum_path(@curriculum), method: :delete, data: {confirm: "Delete the curriculum #{@curriculum.name}?"}, class: "button button-alert" %></p>
<p><%= link_to "Back", curriculums_path, class: "button" %></p>
