<h1>Enroll students to <%= @curriculum.name %></h1>

<div id="enrolled">
  <h2>Students enrolled to <%= @curriculum.name %></h2>
  <table>
    <% @enrolled_students.each do |enrolled_student| %>
      <tr>
        <th><%= enrolled_student.name %></th>
        <td>
          <%= link_to "Dismiss student",
          curriculum_enrollment_path(@curriculum, enrolled_student),
          method: :delete,
          class: "button button-alert"
           %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="not-enrolled">
  <h2>Students not enrolled to <%= @curriculum.name %></h2>
  <table>
    <% @students.each do |student| %>
      <% unless @enrolled_students.include? student %>
      <tr>
        <th><%= student.name %></th>
        <td>
          <%= link_to "Enroll",
          curriculum_enrollments_path(@curriculum, student_id: student.id),
          method: :post,
          class: "button"
          %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<p><%= link_to "Back", curriculum_path(@curriculum), class: "button" %></p>
